<div class="container py-sm-5 py-4 content">
  <div class="row d-flex flex-column">
    <h2 class="text-center mb-lg-5 mb-sm-4 mb-3">Наши товары</h2>
    <app-popular-products></app-popular-products>
    <app-advantages></app-advantages>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="comments w-100 d-flex justify-content-center">
      <div class="container d-flex justify-content-center flex-column align-items-center">
        <div class="quoit">
          <i class="fa fa-quote-left"></i>
        </div>
        <div class="text">
          <p>This template is fantastic, EXACTLY what I wanted and the support has been AMAZING !! fast and super
            helpful. Thanks so much guys and good luck with the template</p>
        </div>
        <div class="client-info">
          <div class="client-img d-flex flex-column align-items-center">
            <img src="https://telegra.ph/file/c77c5b0471c5a590d8371.jpg" alt="">
            <span>Lela Rodgers - California</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container py-sm-5 py-4 content">
  <div class="row d-flex flex-column">
    <app-brands></app-brands>
  </div>
</div>
