<div class="settings">

  <div class="container">
    <div class="content">
      <h3>Персональные данные</h3>
      <form (ngSubmit)="submit()">
        <form class="content-block d-flex flex-column" [formGroup]="personalDataForm" novalidate
        >
          <div class="row">
<!--            <div class="col-md-3">-->
<!--              <div class="avatar">-->
<!--                <img src="#" alt="">-->
<!--                <input id="my-input" #uploadImg #file type="file" hidden id="file"-->
<!--                       (change)="handleFileInput($event)" accept="image/jpeg,image/png"/>-->
<!--                <button mat-mini-fab color="primary" (click)="uploadImg.click()">-->
<!--                  <i class="fas fa-upload"></i>-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
            <div class="col-md-12">
              <div class="first-data d-flex flex-column">
                <mat-form-field appearance="outline">
                  <mat-label>Имя</mat-label>
                  <input matInput placeholder="Имя" formControlName="userName" required>
                  <mat-error *ngIf="userName.invalid">{{getErrorMessage("Имя")}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Фамилия</mat-label>
                  <input matInput placeholder="Фамилия" formControlName="userSurname" required>
                  <mat-error *ngIf="userSurname.invalid">{{getErrorMessage("Фамилия")}}</mat-error>

                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Отчество</mat-label>
                  <input matInput placeholder="Отчество" formControlName="userPatronymic" required>
                  <mat-error *ngIf="userPatronymic.invalid">{{getErrorMessage("Отчество")}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Телефон</mat-label>
                  <input matInput placeholder="Телефон" formControlName="userPhone" required type="number">
                  <mat-error *ngIf="userPhone.invalid">{{getErrorMessage("Телефон")}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Денежные средства</mat-label>
                  <input matInput placeholder="Денежные средства" formControlName="money" required type="number">
                  <mat-error *ngIf="money.invalid">{{getErrorMessage("Денежные средства")}}</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Отображаемый никнейм</mat-label>
            <input matInput placeholder="Никнейм" formControlName="userNickname" required>
            <mat-error *ngIf="userNickname.invalid">{{getErrorMessage("Никнейм")}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Дата рождения</mat-label>
            <input matInput [matDatepicker]="dp" formControlName="userBirthday">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
          </mat-form-field>



        </form>
        <form class="" [formGroup]="regAddressUserForm" novalidate class="d-flex flex-column">
          <mat-form-field appearance="outline" class="country">
            <mat-label>Страна</mat-label>
            <input matInput placeholder="Страна" formControlName="countryUser" required>
            <mat-error *ngIf="countryUser.invalid">{{getErrorMessage("Страна")}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="district">
            <mat-label>Область</mat-label>
            <input matInput placeholder="Область" formControlName="regionUser" required>
            <mat-error *ngIf="regionUser.invalid">{{getErrorMessage("СНИЛС")}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="district">
            <mat-label>Облаcтной регион</mat-label>
            <input matInput placeholder="Облаcтной регион" formControlName="districtUser" required>
            <mat-error *ngIf="districtUser.invalid">{{getErrorMessage("СНИЛС")}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="city">
            <mat-label>Город</mat-label>
            <input matInput placeholder="Город" formControlName="cityUser" required>
            <mat-error *ngIf="cityUser.invalid">{{getErrorMessage("СНИЛС")}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="street">
            <mat-label>Улица</mat-label>
            <input matInput placeholder="Улица" formControlName="streetUser" required>
            <mat-error *ngIf="streetUser.invalid">{{getErrorMessage("СНИЛС")}}</mat-error>
          </mat-form-field>


          <mat-form-field appearance="outline" class="building">
            <mat-label>Дом</mat-label>
            <input matInput placeholder="Дом" formControlName="buildingUser" required>
            <mat-error *ngIf="buildingUser.invalid">{{getErrorMessage("СНИЛС")}}</mat-error>
          </mat-form-field>


        </form>
        <button type="submit" mat-flat-button color="primary" >Сохранить</button>
      </form>
    </div>
  </div>
</div>
