<div class="brands margin-block">
  <h2 class="mb-5">Популярные бренды</h2>
  <ul>
    <li class="brand-item">
      <div class="brand-item__link">
        <img src="/assets/image/Apple.png" class="brand-item__link" alt="">
      </div>
    </li>
    <li class="brand-item">
      <div class="brand-item__link">
        <img src="/assets/image/Samsung.png" class="brand-item__link" alt="">
      </div>
    </li>
    <li class="brand-item">
      <div class="brand-item__link">
        <img src="/assets/image/Honor.png" class="brand-item__link" alt="">
      </div>
    </li>
    <li class="brand-item">
      <div class="brand-item__link">
        <img src="/assets/image/Huawei.png" class="" alt="">
      </div>

    </li>
  </ul>

</div>
