<div class="container">
  <div class="registration-block d-flex justify-content-center">
    <div class="login-content">
      <div class="form-panel">
        <div class="form-header">
          Регистрация
        </div>
        <div class="form-content">
          <mat-form-field appearance="fill" class="form-group">
            <mat-label>Введите никнейм</mat-label>
            <input matInput required>
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-group">
            <mat-label>Введите пароль</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Скрыть пароль'"
                    [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-group">
            <mat-label>Подтвердите пароль</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Скрыть пароль'"
                    [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-group">
            <mat-label>Введите ваш e-mail</mat-label>
            <input matInput placeholder="name@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          <div class="d-flex align-items-center justify-content-between flex-row">
            <button mat-flat-button color="primary"><a routerLink=""></a>Зарегестрироваться</button>
          </div>


        </div>
      </div>

    </div>

  </div>
</div>
