<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="menu-toggle" mode="side">
    <h1 class="text-center">
      <a href="../../../../../index.html" class="font-weight-bold font-italic">
        <i class="fas fa-cogs"></i>
        RusElectro
      </a>
    </h1>


    <div *ngFor="let item of rooItemMenu">
      <!-- Handle branch node buttons here -->
      <div *ngIf="item.children && item.children.length > 0">
        <button class = "begin-menu-trigger" mat-menu-item [matMenuTriggerFor]="menu.childMenu">
          {{item.value}} <i class="fas fa-caret-right"></i>
        </button>
        <app-child-menu #menu [rooItemMenu]="item.children"></app-child-menu>
      </div>
      <!-- Leaf node buttons here -->
      <div *ngIf="!item.children || item.children.length === 0">
        <button class = "begin-menu-trigger" mat-menu-item>
          {{item.value}}
        </button>
      </div>
    </div>

  </mat-drawer>

  <div class="container-block">
    <app-main-header></app-main-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>

  </div>

</mat-drawer-container>
