<div class="add-product">
  <table mat-table [dataSource]="dataSource" matSort class="product-table" multiTemplateDataRows>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Название</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Цена</th>
      <td mat-cell *matCellDef="let element"> {{element.price}} руб. </td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Количество</th>
      <td mat-cell *matCellDef="let element"> {{findOrderProduct(element.id).amount}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата</th>
      <td mat-cell *matCellDef="let element"> {{findOrder(element.id).date}} </td>
    </ng-container>

    <ng-container matColumnDef="order_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> номер заказа</th>
      <td mat-cell *matCellDef="let element"> {{findOrder(element.id).id}} </td>
    </ng-container>








    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;  let index = index"
        class="example-element-row" id="{{element.id}}" >
    </tr>

  </table>
  <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
