<div class="advantages d-flex justify-content-center">
  <div class="row">
    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="item d-flex flex-column">
        <img src="/assets/image/security.png" class="mb-2" alt="">
        <span>Не дорогая доставка в область</span>
        <p>
          До 300 руб.
        </p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="item d-flex flex-column">
        <img src="/assets/image/security.png" class="mb-2"  alt="">
        <span>Безопасные платежи</span>
        <p>
          100% защита от краж
        </p>
      </div>
    </div>

    <div class="col-md-3 ">
      <div class="item d-flex flex-column">
        <img src="/assets/image/security.png" class="mb-2"  alt="">
        <span>Покупайте с уверенностью</span>
        <p>
          Если у вас есть проблемы с товаром
        </p>
      </div>
    </div>

    <div class="col-md-3 ">
      <div class="item d-flex flex-column">
        <img src="/assets/image/security.png" class="mb-2"  alt="">
        <span>24/7 Центр поддержки</span>
        <p>
          Целевая поддержка
        </p>
      </div>
    </div>
  </div>
</div>
