<div class="advantages d-flex justify-content-center">
  <div class="row">
    <div class="md-3 mr-5 d-flex justify-content-center align-items-center">
      <div class="item d-flex flex-column">
        <img src="/assets/image/security.png" class="mb-2" alt="">
        <span>Гарантия</span>
        <p>
          Официальные поставки
        </p>
      </div>
    </div>

    <div class="md-3 mr-5">
      <div class="item d-flex flex-column">
        <img src="/assets/image/security.png" class="mb-2"  alt="">
        <span>Гарантия</span>
        <p>
          Официальные поставки
        </p>
      </div>
    </div>

    <div class="md-3 mr-5">
      <div class="item d-flex flex-column">
        <img src="/assets/image/security.png" class="mb-2"  alt="">
        <span>Гарантия</span>
        <p>
          Официальные поставки
        </p>
      </div>
    </div>

    <div class="md-3">
      <div class="item d-flex flex-column">
        <img src="/assets/image/security.png" class="mb-2"  alt="">
        <span>Гарантия</span>
        <p>
          Официальные поставки
        </p>
      </div>
    </div>
  </div>
</div>
