<div class="popular-products margin-block">
  <div class="container">
    <div class="row d-flex flex-column">
      <h3 class="mb-5">New Brand Mobiles</h3>
      <!--      <div class="owl-carousel sd owl-theme">-->
      <!--        <div class="item">-->
      <!--          <form></form>-->
      <!--        </div>-->
      <!--        <div class="item"><h4>2</h4></div>-->
      <!--        <div class="item"><h4>3</h4></div>-->
      <!--        <div class="item"><h4>4</h4></div>-->
      <!--        <div class="item" *ngFor="let product of products"><h4>1</h4></div>-->
      <!--        <div class="item" >-->
      <!--          <div class="col-md-12 product-men mt-5">-->
      <!--            <div class="men-pro-item simpleCart_shelfItem">-->
      <!--              <div class="men-thumb-item text-center ">-->
      <!--                <img src="api/courseworkWeb/products/{{product.id}}/image" alt="" class="img_product mx-auto">-->
      <!--                <div class="men-cart-pro">-->
      <!--                  <div class="inner-men-cart-pro">-->
      <!--                    <a href="single.html" class="link-product-add-cart">Quick View</a>-->
      <!--                  </div>-->
      <!--                </div>-->
      <!--              </div>-->
      <!--              <div class="item-info-product text-center border-top mt-4">-->
      <!--                <h4 class="pt-1">-->
      <!--                  <a href="single.html">{{product.name}}</a>-->
      <!--                </h4>-->
      <!--                <div class="info-product-price my-2">-->
      <!--                  <span class="item_price">{{product.price}}</span>-->
      <!--                  <del>$280.00</del>-->
      <!--                </div>-->
      <!--                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">-->
      <!--                  <form action="#" method="post">-->
      <!--                    <fieldset>-->
      <!--                      <input type="hidden" name="cmd" value="_cart"/>-->
      <!--                      <input type="hidden" name="add" value="1"/>-->
      <!--                      <input type="hidden" name="business" value=" "/>-->
      <!--                      <input type="hidden" name="item_name" value="Samsung Galaxy J7"/>-->
      <!--                      <input type="hidden" name="amount" value="200.00"/>-->
      <!--                      <input type="hidden" name="discount_amount" value="1.00"/>-->
      <!--                      <input type="hidden" name="currency_code" value="USD"/>-->
      <!--                      <input type="hidden" name="return" value=" "/>-->
      <!--                      <input type="hidden" name="cancel_return" value=" "/>-->
      <!--                      <input type="submit" name="submit" value="Add to cart" class="button btn"/>-->
      <!--                    </fieldset>-->
      <!--                  </form>-->
      <!--                </div>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="item">-->
      <!--          <div class="col-md-12 product-men mt-5">-->
      <!--            <div class="men-pro-item simpleCart_shelfItem">-->
      <!--              <div class="men-thumb-item text-center ">-->
      <!--                <img src="/assets/image/m1.jpg" class="mx-auto" alt="">-->
      <!--                <div class="men-cart-pro">-->
      <!--                  <div class="inner-men-cart-pro">-->
      <!--                    <a href="single.html" class="link-product-add-cart">Quick View</a>-->
      <!--                  </div>-->
      <!--                </div>-->
      <!--              </div>-->
      <!--              <div class="item-info-product text-center border-top mt-4">-->
      <!--                <h4 class="pt-1">-->
      <!--                  <a href="single.html">Samsung Galaxy J7</a>-->
      <!--                </h4>-->
      <!--                <div class="info-product-price my-2">-->
      <!--                  <span class="item_price">$200.00</span>-->
      <!--                  <del>$280.00</del>-->
      <!--                </div>-->
      <!--                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">-->
      <!--                  <form action="#" method="post">-->
      <!--                    <fieldset>-->
      <!--                      <input type="hidden" name="cmd" value="_cart"/>-->
      <!--                      <input type="hidden" name="add" value="1"/>-->
      <!--                      <input type="hidden" name="business" value=" "/>-->
      <!--                      <input type="hidden" name="item_name" value="Samsung Galaxy J7"/>-->
      <!--                      <input type="hidden" name="amount" value="200.00"/>-->
      <!--                      <input type="hidden" name="discount_amount" value="1.00"/>-->
      <!--                      <input type="hidden" name="currency_code" value="USD"/>-->
      <!--                      <input type="hidden" name="return" value=" "/>-->
      <!--                      <input type="hidden" name="cancel_return" value=" "/>-->
      <!--                      <input type="submit" name="submit" value="Add to cart" class="button btn"/>-->
      <!--                    </fieldset>-->
      <!--                  </form>-->
      <!--                </div>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="item">-->
      <!--          <div class="col-md-12 product-men mt-5">-->
      <!--            <div class="men-pro-item simpleCart_shelfItem">-->
      <!--              <div class="men-thumb-item text-center ">-->
      <!--                <img src="/assets/image/m1.jpg" class="mx-auto" alt="">-->
      <!--                <div class="men-cart-pro">-->
      <!--                  <div class="inner-men-cart-pro">-->
      <!--                    <a href="single.html" class="link-product-add-cart">Quick View</a>-->
      <!--                  </div>-->
      <!--                </div>-->
      <!--              </div>-->
      <!--              <div class="item-info-product text-center border-top mt-4">-->
      <!--                <h4 class="pt-1">-->
      <!--                  <a href="single.html">Samsung Galaxy J7</a>-->
      <!--                </h4>-->
      <!--                <div class="info-product-price my-2">-->
      <!--                  <span class="item_price">$200.00</span>-->
      <!--                  <del>$280.00</del>-->
      <!--                </div>-->
      <!--                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">-->
      <!--                  <form action="#" method="post">-->
      <!--                    <fieldset>-->
      <!--                      <input type="hidden" name="cmd" value="_cart"/>-->
      <!--                      <input type="hidden" name="add" value="1"/>-->
      <!--                      <input type="hidden" name="business" value=" "/>-->
      <!--                      <input type="hidden" name="item_name" value="Samsung Galaxy J7"/>-->
      <!--                      <input type="hidden" name="amount" value="200.00"/>-->
      <!--                      <input type="hidden" name="discount_amount" value="1.00"/>-->
      <!--                      <input type="hidden" name="currency_code" value="USD"/>-->
      <!--                      <input type="hidden" name="return" value=" "/>-->
      <!--                      <input type="hidden" name="cancel_return" value=" "/>-->
      <!--                      <input type="submit" name="submit" value="Add to cart" class="button btn"/>-->
      <!--                    </fieldset>-->
      <!--                  </form>-->
      <!--                </div>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
      <div class="row">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-6">
                  <img src="api/courseworkWeb/products/{{productFirst.id}}/image" alt="" class="img_product">
                </div>
                <div class="col-md-6 d-flex flex-column justify-content-between">
                  <div class="heading">
                    <h2 class="name">{{productFirst.name}}</h2>
                    <div class="price mt-2"> {{productFirst.price}} руб.</div>
                    <div class="description mt-3"> {{productFirst.description}}</div>
                    <button mat-stroked-button color="primary" class="mt-2" routerLink="prod/{{productFirst.catalogId}}/{{productFirst.id}}">Посмотреть</button>
                  </div>

                </div>
              </div>
            </div>
            <div class="carousel-item" *ngFor="let elem of products; let i = index">
              <div class="row">
                <div class="col-md-6">
                  <img src="api/courseworkWeb/products/{{elem.id}}/image" alt="" class="img_product">
                </div>
                <div class="col-md-6 d-flex flex-column justify-content-between">
                  <div class="heading">
                    <h2 class="name">{{elem.name}}</h2>
                    <div class="price mt-2"> {{elem.price}} руб.</div>
                    <div class="description mt-3"> {{elem.description}}</div>
                    <button mat-stroked-button color="primary" class="mt-2" routerLink="prod/{{elem.catalogId}}/{{elem.id}}">Посмотреть</button>
                  </div>

              </div>
            </div>
          </div>
          <a class="carousel-control-prev carousel-control" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="material-icons">
              navigate_before
              </span>
          </a>
          <a class="carousel-control-next carousel-control" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="material-icons">
              navigate_next
              </span>
          </a>
        </div>
      </div>


    </div>
  </div>
</div>




