<div class="popular-products margin-block">
  <div class="container">
    <div class="row d-flex flex-column">
      <h3 class="mb-5">Новинки</h3>

      <div class="row">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-6">
                  <img src="api/courseworkWeb/products/{{productFirst.id}}/image" alt="" class="img_product">
                </div>
                <div class="col-md-6 d-flex flex-column justify-content-between">
                  <div class="heading">
                    <h2 class="name">{{productFirst.name}}</h2>
                    <div class="price mt-2"> {{productFirst.price}} руб.</div>
                    <div class="description mt-3"> {{productFirst.description}}</div>
                    <button mat-stroked-button color="primary" class="mt-2" routerLink="prod/{{productFirst.catalogId}}/{{productFirst.id}}">Посмотреть</button>
                  </div>

                </div>
              </div>
            </div>
            <div class="carousel-item" *ngFor="let elem of products; let i = index">
              <div class="row">
                <div class="col-md-6">
                  <img src="api/courseworkWeb/products/{{elem.id}}/image" alt="" class="img_product">
                </div>
                <div class="col-md-6 d-flex flex-column justify-content-between">
                  <div class="heading">
                    <h2 class="name">{{elem.name}}</h2>
                    <div class="price mt-2"> {{elem.price}} руб.</div>
                    <div class="description mt-3"> {{elem.description}}</div>
                    <button mat-stroked-button color="primary" class="mt-2" routerLink="prod/{{elem.catalogId}}/{{elem.id}}">Посмотреть</button>
                  </div>

              </div>
            </div>
          </div>
          <a class="carousel-control-prev carousel-control" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="material-icons">
              navigate_before
              </span>
          </a>
          <a class="carousel-control-next carousel-control" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="material-icons">
              navigate_next
              </span>
          </a>
        </div>
      </div>


    </div>
  </div>
</div>




