<div class="settings">
  <div class="container">
    <div class="content">
      <h3>Добавить продукт</h3>

      <form class="content-block d-flex flex-column" [formGroup]="newProductFormGroup" novalidate
            (ngSubmit)="submit()">

        <mat-form-field appearance="fill">
          <mat-label>Название продукта</mat-label>
          <input matInput #input maxLength="20" formControlName="nameProduct">
          <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Стоимость продукта</mat-label>
          <input matInput type="number"  #input maxLength="10" formControlName="priceProduct">
          <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>
        </mat-form-field>
        <mat-form-field class="example-full-width">
        <mat-label>Описание</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St" formControlName="descriptionProduct">Описание</textarea>
      </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Выберите каталог</mat-label>
          <mat-select [(ngModel)]="selectedValue" formControlName="nameRootCatalog">
            <mat-option *ngFor="let catalog of catalogs" [value]="catalog.id"
                        (onSelectionChange)="getPropertyProductByCatalog(catalog.id)">
              {{catalog.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <template #container></template>
        </div>

        <button type="submit" mat-flat-button color="primary" [disabled]="newProductFormGroup.invalid" >Сохранить
        </button>
      </form>

    </div>
  </div>
</div>
