<template #parent></template>


<div class="catalog-item d-flex catalog-item" #catalog>
  <div *ngIf="typeNode == catalogType.ROOT_NODE">
    <span class="material-icons root ml-2">folder</span>
  </div>
  <div *ngIf="typeNode == catalogType.SUB_NODE">

    <span class="material-icons sub_node ml-2">folder</span>
  </div>
  <div *ngIf="mode == modeStatus.EDIT">
    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="Название каталога" #input (focusout)="selectEditMode(input.value)"
             [value]="title" autocomplete="off">
    </mat-form-field>
  </div>
  <div *ngIf=" mode == modeStatus.VIEW ">
    <button  mat-button>
      <span class="title" [matMenuTriggerFor]="menu" (click)="selectItemTree()">{{title}}</span>
    </button>

  </div>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="createChild()">Создать подкатолог</button>
  <button mat-menu-item (click)="deleteMe()">Удалить каталог</button>
  <button mat-menu-item (click)="deleteChildren()">Удалить все подкаталоги</button>
  <button mat-menu-item (click)="edit()">Редактировать каталог</button>
</mat-menu>
