
<div class="header-bot">
  <div class="container">
    <div class="row header-bot_inner_wthreeinfo_header_mid d-flex align-items-center">
      <!-- logo -->

      <div class="col-md-4 logo_agile">
        <h1 class="text-center">
          <a routerLink="" class="font-weight-bold font-italic">
            <i class="fas fa-cogs"></i>
            RusElectro
          </a>
        </h1>
      </div>
      <!-- //logo -->
      <!-- search -->
      <div class="col-md-8 header">
        <div class="row">

          <div class="col-10 agileits_search">
            <form class="form-inline" action="#" method="post">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                     required>
              <button mat-flat-button color="accent" class="search" type="submit">Поиск</button>
            </form>
          </div>


        </div>
      </div>
      <!-- //search -->


      <!-- //cart details -->
    </div>
  </div>
</div>
