<div class="navbar-inner">
    <div class="container">
        <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="agileits-navi_search">
                <form action="#" method="post">
                    <select id="agileinfo-nav_search" name="agileinfo_search" class="border" required="">
                        <option value="">Все категории</option>
                        <option value="Televisions">Телевизоры</option>
                        <option value="Headphones">Наушники</option>
                        <option value="Computers">Компьютеры</option>
                    </select>
                </form>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-center mr-xl-5">
                    <li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
                        <a routerLink="" routerLinkActive="nav-link">Домашняя страница</a>
                    </li>
                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Электроника
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <h5 class="mb-3">Смартфоны, Компьютеры</h5>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a routerLink="" routerLinkActive="">Все мобильные смартфоны</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Все мобильные аксессуары</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Защитные чехлы</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Защитные стёкла</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Power Banks</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Планшеты</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Носимые устройства</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Умный дом</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a routerLink="" routerLinkActive="">Ноутбуки</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Накопители</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Принтеры</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Сетевые устройства</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Компьютерные аксессуары</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Игровая зона</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Программное обеспечение</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Приборы
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <h5 class="mb-3">Телевизоры, Приборы, Электроника</h5>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a routerLink="" routerLinkActive="">Телевизоры</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Домашняя развлекательная система</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Наушники</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Микрофоны</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">MP3, Медиа устройства</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Аудио и видео приборы</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Камеры</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Аксессуары к камере</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a routerLink="" routerLinkActive="">Музыкальные инструменты</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Игровые консоли</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Воздушные кондиционеры</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Холодильники</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Стиральная машини</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Кухонные и домашнии приборы</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Нагревательрные и охлаждающие приборы</a>
                                            </li>
                                            <li>
                                                <a routerLink="" routerLinkActive="">Все приборы</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link" routerLink="" routerLinkActive="">О нас</a>
                    </li>
                    <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link" routerLink="" routerLinkActive="">Новое поступление</a>
                    </li>
                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Страницы
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" routerLink="" routerLinkActive="" >Product 1</a>
                            <a class="dropdown-item" routerLink="" routerLinkActive="">Product 2</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" routerLink="" routerLinkActive="">Single Product 1</a>
                            <a class="dropdown-item" routerLink="" routerLinkActive="">Single Product 2</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" routerLink="" routerLinkActive="">Checkout Page</a>
                            <a class="dropdown-item" routerLink="" routerLinkActive="">Payment Page</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="" routerLinkActive="">Контакты</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    </div>
</div>