<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <p *ngIf="orderList.length == 0">
        Ваша корзина пуста
      </p>
      <div class="cards mt-3" *ngFor="let elem of orderList">
        <div class="row">
          <div class="col-md-4">
            <div class="product_img" matBadge="{{elem.amount}}x" matBadgeColor="primary" matBadgePosition="before"
                 matBadgeSize="medium">
              <img src="api/courseworkWeb/products/{{elem.product.id}}/image" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <div class="info">
              <div class="name">
                {{elem.product.name}}
              </div>
              <div class="price">
                <i class="fas fa-ruble-sign"></i> {{elem.product.price}}
              </div>

            </div>
          </div>
        </div>


        <span class="material-icons close" (click)="delete(elem.id)">
          cancel
        </span>
      </div>


    </div>
    <div class="col-md-6">
      <div class="res">
        <div class="result d-flex align-items-center justify-content-between">
          <p class="title mr-5">Подытог</p>
          <p><i class="fas fa-ruble-sign"></i> {{subtotal}}</p>
        </div>
        <div class="result d-flex align-items-center justify-content-between">
          <p class="title">Досставка</p>
          <p><i class="fas fa-ruble-sign"></i> {{shipping}}</p>
        </div>
        <div class="result d-flex align-items-center justify-content-between" >
          <p class="title">Налог</p>
          <p>{{taxes}}%</p>
        </div>
        <div class="result d-flex align-items-center justify-content-between">
          <p class="title">ИТОГО</p>
          <p><i class="fas fa-ruble-sign"></i> {{total}}</p>
        </div>
        <button mat-flat-button color="primary" class="w-100 mt-5" (click)="buy()" [disabled]="orderList.length == 0">Оплатить</button>
        <button mat-stroked-button color="primary"  class="w-100 mt-2" (click)="openDialog()">Показать чек</button>
      </div>

    </div>
  </div>


</div>
