<footer class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1 class="text-center">
          <a routerLink="" class="font-weight-bold font-italic">
            <i class="fas fa-cogs"></i>
            RusElectro
          </a>
        </h1>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>Покупателям</p>
            <ul>
              <li>Каталог</li>
              <li>Как оформить заказ</li>
              <li>Обмен, возврат, гарантия</li>
              <li>Статусы заказов</li>
              <li>Статусы заказов</li>
            </ul>
          </div>
          <div class="col-md-4">
            <p>Компания</p>
            <ul>
              <li>О компании</li>
            </ul>
          </div>
          <div class="col-md-4">
            <p>Бизнесу</p>
            <ul>
              <li>Техника для вашей компании</li>
              <li>Поставщикам</li>
              <li>Контакты и реквизиты</li>
            </ul>
          </div>
        </div>


      </div>
    </div>

  </div>

</footer>
