<div class="row block-left-menu h-100">
  <div class="left-menu d-flex align-items-center flex-column">
    <img src="#" alt="">
    <button mat-stroked-button class="bnt-logout">Выйти</button>

    <mat-selection-list #shoes [multiple]="false" class="slider-menu">
      <a  routerLink="/me" routerLinkActive="active">
        <mat-list-option class = "d-flex align-items-center">
          <i class="far fa-user"></i> <span>Мой профиль</span>
        </mat-list-option>
      </a>
      <a  routerLink="settings" routerLinkActive="active">
        <mat-list-option class = "d-flex align-items-center">
          <i class="far fa-credit-card"></i> <span> Покупки </span>
        </mat-list-option>
      </a>
      <a  routerLink="products" routerLinkActive="active">
        <mat-list-option class = "d-flex align-items-center">
          <i class="far fa-credit-card" ></i> <span>Товары</span>
        </mat-list-option>
      </a>

    </mat-selection-list>
  </div>
</div>
