//.owl-carousel  span, .owl-carousel  span {
//  font-size: 30px;
//  padding: 0 15px;
//}


.owl-prev i, .owl-next i {
  color: white;
}
.owl-prev, .owl-next {
  position: absolute;
  top: 50%;
  margin-top: -10px;
}
.owl-prev {
  left: 5px;
}
.owl-next {
  right: 5px;
}
